body {
	background: #FF4E50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#intro {
	height: 80vh;
}

h1 {
	margin-left: 20%;
	fill: rgb(236, 240, 241);
    font-weight: 900;
    font-size: 120;
    font-family: 'Josefin Sans', ;
}