/*font-family*/
p {
	font-family: Arial;
}
h1  {
	font-family: Georgia;
}
/*font-size*/
h1 {
	font-size: 2.0em;
}
body {
	font-size: 12px;
}
p {
	font-size: 1em;
}
/*font-weight*/
p {
	font-weight: bold;
}
/*line-height*/
p {
	line-height: 1.5;
}
/*THE BOX MODEL*/
p {
/*Content - Width and Height*/
	width: 70%;
	height: 50%;
/*Border*/
	border: 2px solid blue;
	border
/*Padding*/
	padding: 10px;
/*Margin*/
margin: 100px;
}